*{
    margin: 0;
    padding: 0;
}

div{
    background-color: rgba(135, 236, 236, 0.589);
}


body{
    display: grid;
    grid-template-areas: 
    "nav-bar nav-bar nav-bar"
    "main main right-bar"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  height: 100vh;
  margin: 0;
   background-image: url('../git.test/landing_page/images/1617487864_19-p-oboi-snezhnii-sklon-20.jpg');
}

.nav-bar{
    grid-area: nav-bar;
    background-color: rgba(49, 49, 49, 0.575);
    background-attachment: scroll;  
}
.main{
    
    grid-area: main;
    border: 1px solid black;
    padding: 4em;
    padding-inline: 14em;
    
}

.right-bar{
    grid-area: right-bar;
}
.footer{
    grid-area: footer;
}

