body{
    margin: 0;
    padding: 0;
    background-image: url(image1.png );
}

.nav-panel{
    display: flex;
    justify-content: space-between;
    background: radial-gradient(53.91% 13800% at 67.19% 50%, #0E1A47 28.12%, rgba(27, 48, 122, 0.78) 77.08%);
    background-color: #1B307A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.nav-panel>nav>ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav-panel>nav>ul>li {
    display: block;
    border: 0.5px solid black;
   
    
    padding: 10px;
    margin: 0;
}

.page{
    display: flex;
    flex-direction: row;

}
.header{
    width: 20%;
    background-color: #1B2435;
    
}
.section{
    width: 80%;
}
.text {
    padding-left: 10px;
    
    
    
}
.image{
    width: 100%;
}

.image>img {
    width: 100%;
}