.signs {
    background-color: black;
    font-size: 24px;
    width: 200px;
    text-align: center;
    color: white;
    display: block;

    
}
body{
    background-color: white;
}

.numbers{
    background-color: black;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    width: 200px;
    
}
.btn{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 2px;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 100%;
    color: white;
    background-color: rgb(24, 24, 24);
    
}
.zero{
    width: 100px;
    border-radius: 40px;
    
}
.data{
    width: 240px;
    height: 50px;
    border: 0;
    padding: 0px;
    
    border-radius: 15px;
    background-color: black;
    color: white;
    text-align: end;
    font-size: 32px;
    display: block;
    

}

.btn:hover{
    background-color: rgb(46, 46, 46);
    border: 1px solid rgb(46, 46, 46);
}

.calculator{
    border-radius: 15px;
    border: 2px solid black;
    display: inline-block;
    background-color: black;
    width: 260px;
    padding-left: 10px;
}

.btn_footer{
    display: flex;
    justify-content: space-between;
    padding-left: 11px;
    padding-right: 11px;
}

.right-bar{
    display:inline-block;
    padding-bottom: 10px;
   
}
.right-bar>div {
    display: block;

}

.components{
    display: inline-block;
}